[project]
name = "spaces_in_phonemes"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "numpy>=2.2.6",
    "pandas>=2.3.3",
    "math>=1.0.0",
    "collections>=1.0.0"

]
